<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Highest Rated Wines</title>
</head>

<body>
    <h1>Reviews</h1>
    <h3>Details of reviews with the maximum points (on a scale of 1-100)</h3>
    <ol>
        {{#data}}
        <li>
            <strong>{{title}}</strong>
            <ul>
                <li><b>Points:</b> {{points}}</li>
                <li><b>Country, Province, Winery, Designation:</b> {{country_name}}, {{province_name}}, {{winery_name}},
                    {{designation_name}}</li>
                <li><b>Variety:</b> {{variety_name}}</li>
                <li><b>Taster name, twitter handle:</b> {{taster_name}}, {{taster_twitter_handle}}</li>
                <li><b>Description:</b> {{description}}</li>
            </ul>
            <br>
        </li>
        {{/data}}
    </ol>

    <p><a href="/">Go back to Home</a></p>
</body>

</html>