<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Wineries</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            border: 1px solid #ddd;
        }

        th,
        td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>
    <h1>Top 20 Wineries</h1>
    <h3>Most commonly occurring Wineries, their respective locations and average points of reviews</h3>
    <table>
        <thead>
            <tr>
                <th>Winery</th>
                <th>Location</th>
                <th>Review Count</th>
                <th>Average Points</th>
            </tr>
        </thead>
        <tbody>
            {{#data}}
            <tr>
                <td>{{Winery}}</td>
                <td>{{Location}}</td>
                <td>{{review_count}}</td>
                <td>{{avg_points}}</td>
            </tr>
            {{/data}}
        </tbody>
    </table>

    <p><a href="/">Go back to Home</a></p>
</body>

</html>